<ul nz-menu nzMode="inline" *ngIf="rooms">
    <li class="p-2">
        <nz-input-group class="rounded" [nzSuffix]="suffixIconSearch">
            <input type="text" [(ngModel)]="searchTerm" (ngModelChange)="onChange($event)" nz-input
                placeholder="Rechercher dans visio" [nzAutocomplete]="auto" />
            <nz-autocomplete #auto>
                <nz-auto-option *ngFor="let room of filteredRooms" [routerLink]="'/dashboard/room/' + room.id"
                    [nzValue]="room.id" [nzLabel]="room.label">
                    {{ room | roomTitle }}
                </nz-auto-option>
            </nz-autocomplete>
        </nz-input-group>
        <ng-template #suffixIconSearch>
            <i nz-icon nzType="search"></i>
        </ng-template>

    </li>

    <li nz-menu-item *ngFor="let room of rooms" class="pl-1 py-4" [routerLink]="'/dashboard/room/' + room.id">
        <!-- <nz-avatar nzIcon="user" nzSrc="//zos.alipayobjects.com/rmsportal/ODTLcjxAfvqbxHnVXCYX.png"></nz-avatar> -->

        <nz-comment nzAuthor="{{room | roomTitle | titlecase}}">
            <nz-avatar nz-comment-avatar [nzSize]="45" style="background-color: #1890ff" nzText="NG"></nz-avatar>
            <nz-comment-content>
                <p class="text-muted message_preview">{{room.last_message?.message}} · {{room.last_message?.created_at |
                    date: 'H:mm'}}</p>
            </nz-comment-content>
        </nz-comment>
    </li>


    <nz-empty *ngIf="rooms.length == 0"></nz-empty>

    <button nz-button (click)="openCreateRoomModal()" class="send-message-btn" nzType="primary">Rédiger un message <i
            nz-icon nzType="edit" nzTheme="outline"></i></button>
</ul>