[nz-menu] {
    // width: 240px;
    height : 100%;
    min-height: 92vh
  }
  
  .ant-layout-sider {
    position: relative;
    min-width: 0;
    background: #fff;
    width : 240px !important;
    -webkit-transition: all 0.2s;
    transition: all 0.2s;
  }
  
  li{
      outline : 0
  }