[nz-menu] {
  //width: 240px;
  height: 100%;
  min-height: 94vh;
  width: 19vw;
}

.ant-layout-sider {
  position: relative;
  min-width: 0;
  background: #fff;
  width: 240px !important;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
}

li {
  outline: 0;
}

.send-message-btn {
  position: fixed;
  bottom: 0px;
  width: 18.9vw;
  border-radius: 0px;
  padding-bottom: 36px;
  padding-top: 18px;
}

:host::ng-deep {
  cdk-virtual-scroll-viewport {
    height: 89vh;
    min-height: 89vh;
  }
  nz-avatar {
    margin-right: 14px;
  }
  .rounded {
    border-radius: 30px !important;
  }
  .ant-comment-avatar {
    display: block;
    margin-top: auto;
    margin-bottom: auto;
  }
  .ant-comment-content {
    font-size: 11px;
  }
  .ant-comment-content-author-name {
    color: white;
    font-size: 13px !important;
  }
  .ant-comment-content-detail > p {
    line-height: 14px;
  }

  .message_preview {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    width: 220px;
    display: inline-block;
  }
  .ant-menu-inline .ant-menu-item {
    line-height: 24px !important;
  }
}
