<ul nz-menu nzMode="inline">
    <!-- <li *ngFor="let room of user.rooms" nz-menu-item nzIcon="home" routerLink="/dashboard/room"> <i nz-icon nzType="home" nzTheme="outline"></i> {{room.label}}
    </li> -->
    <!-- <li nz-menu-item nzIcon="home" routerLink="/dashboard"> <i nz-icon nzType="home" nzTheme="outline"></i> Room 2
    </li>
    <li nz-menu-item nzIcon="home" routerLink="/dashboard"> <i nz-icon nzType="home" nzTheme="outline"></i> Room 3 
    </li>
    <li nz-menu-item nzIcon="home" routerLink="/dashboard"> <i nz-icon nzType="home" nzTheme="outline"></i> Room 4 
    </li> -->

</ul>