<nz-button-group>
  <button nz-button nzType="primary" (click)="startCall(true)"><i nz-icon nzType="video-camera"
      nzTheme="fill"></i></button>
  <button nz-button nzType="primary" (click)="startCall()"><i nz-icon nzType="phone" nzTheme="fill"></i></button>
</nz-button-group>


<div itemSize="20" class="scrollable" #messageList>
  <!-- <div class="scrollable" #messageList> -->
  <div class="messages" *ngIf="room">
    <div class="message_container" [class.reply]="message.user_id == current_user.id"
      [class.not-reply]="message.user_id != current_user.id" *ngFor="let message of room!.messages">
      <!-- <div class="avatar" *ngIf="message.user_id != current_user.id"
        style="background-image: url('https://s3.amazonaws.com/pix.iemoji.com/images/emoji/apple/ios-12/256/robot-face.png');">
      </div> -->
      <nz-avatar class="avatar" *ngIf="message.user_id != current_user.id" nzIcon="user" nzSize="large" style="vertical-align: middle;"></nz-avatar>
      <div class="message">
        <p class="text">{{message.message }}</p>
      </div>
    </div>

  </div>
  <!-- </div> -->
</div>

<div class="footer">
  <i nz-icon nzType="file-add" class="mx-2 text-primary h6 mt-2 cursor-pointer " nzTheme="fill"></i>
  <nz-input-group nzSearch [nzAddOnAfter]="suffixIconButton">
    <!-- <input type="text" nz-input placeholder="input search text" /> -->
    <textarea maxlength="250" (keydown.enter)="$event.preventDefault(); sendMessage()" [(ngModel)]="current_message"
      nz-input [nzAutosize]="{ minRows: 1, maxRows: 2 }" placeholder="" nzAutosize></textarea>
  </nz-input-group>
  <ng-template #suffixIconButton>
    <button nz-button nzType="primary" nzSearch><i nz-icon nzType="send"></i></button>
  </ng-template>
</div>