.footer {
    position: fixed;
    bottom: 0px;
    width: 81vw;
    padding: 5px 3px;
    display: flex;
}

.scrollable {
    overflow: auto;
    -webkit-box-flex: 1;
    -ms-flex: 1;
    flex: 1;
    max-height:88vh;
    height:88vh;
    .messages {
        padding: 1rem 1.25rem;
        overflow-y: auto;
        overflow-x: hidden;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -ms-flex-negative: 0;
        flex-shrink: 0;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column-reverse;
        flex-direction: column-reverse;
    //flex-direction: column-reverse;


        .message_container {
            margin-bottom: 1.5rem;
            display: -webkit-box;
            display: -ms-flexbox;
            display: flex;
            .avatar {
                display: block;
                border-radius: 50%;
                -ms-flex-negative: 0;
                flex-shrink: 0;
                background: #c5cee0;
                background-position: center;
                background-size: cover;
                background-repeat: no-repeat;
                width: 2.5rem;
                height: 2.5rem;
                text-align: center;
                line-height: 2.5rem;
                font-size: 0.875rem;
                color: white;
            }

            .message {
                width: max-content;
                border-radius: 0.5rem;
                .text {
                    padding: 1rem;
                    border-radius: 0.5rem;
                    word-break: break-word;
                    white-space: pre-wrap;
                    max-width: 100%;
                    margin-top: 0;
                    margin-bottom: 0;
                    padding: 0.4rem 0.8rem;
                }
            }
            &.not-reply {
                .message {
                    margin-left: 1rem;
                    margin-right: 0.5rem;
                    display: flex;
                    .text {
                        border-top-left-radius: 0px !important;
                        background: #3366ff;
                        color: #ffffff;
                        align-items: flex-start;
                    }
                }
            }
            &.reply{
                flex-direction: row-reverse;
                .message {
                    -webkit-box-orient: horizontal;
                    -webkit-box-direction: reverse;
                    -ms-flex-direction: row-reverse;
                    flex-direction: row-reverse;
                    .text {
                        background: #f7f9fc;
                        color: #222b45;
                        margin-left: 3rem;
                        border-bottom-right-radius: 0px !important;
                    }
                }
            }
        }

        .reply {
            .message {
            }
        }
    }
}
