<div class="home-body mt-3">
    <div class="nav d-flex justify-content-around">
        <div class="logo">
            <img src="../../../assets/img/logo.png" style="width: 40px;">
        </div>
        <div class="buttons">
            <button routerLink="auth/login" class="mx-3" nz-button nzType="primary">SIGN IN</button>
            <button routerLink="auth/register" class="btn-register mx-3 text-light" nz-button nzType="primary">SIGN UP</button>
        </div>
    </div>
    <div class="header d-flex flex-column mt-3">
        <h1>VISIO</h1>
        <h3>Best platform for organize your conversation, call and collaborate frome one place</h3>
        <h5>Our platform is the perfect way to organize your conversations with family members...</h5>
    </div>
    <div class="body d-flex justify-content-around">
        <div class="description">
            <h3> Visio is suitable for all user profiles </h3>
            <p>
                Whether it's conversations, calls or video, all users can participate at the same time, bringing them
                all
                closer together.

                Your documents, photos, videos, conversation histories and meeting notes are always available, so
                collaboration is easy.

                Set up your team's space with all the apps you need so you can stay in one place instead of having to
                travel.
            </p>
        </div>
        <div class="images">
            <img
                src="https://cdn-dynmedia-1.microsoft.com/is/image/microsoftcorp/Image_Work_859x1306?&wid=859&hei=1306" />
            <img
                src="https://img.decision-achats.fr/Img/BREVE/2020/2/346675/video-conference-entreprise-fait-pas-unanimite-T.jpg" />
        </div>
    </div>
</div>