.call-controls{
    position: fixed;
    bottom: 50px;
    left: 50%;
    transform: translateX(calc(-50% + 100px));   
}

.video-fallback{
    position: fixed;
    bottom: 50px;
    right:50px;
    width:400px;
    height: 220px;
    border-radius: 25px;
}