.bg-grey{

    background-color: #1e1e1e;
}

:host::ng-deep{
    .ant-layout-sider{
        flex: 0 0 19vw !important;
        max-width: 19vw !important;;
        min-width: 19vw !important;;
        width: 19vw !important;;
    }
}