<nz-layout>
    <app-header></app-header>
    <nz-layout>
        <nz-sider>
            <app-sidebar></app-sidebar>
        </nz-sider>
        <nz-content class="bg-grey">
            <!-- <div class="row mx-0  mt-5 p-0">
                <div class="col offset-1 p-0 p-md">
                    <nz-breadcrumb [nzAutoGenerate]="true">
                        <nz-breadcrumb-item>
                            <a routerLink="/dashboard"><i nz-icon nzType="home"></i> Home</a>
                        </nz-breadcrumb-item>
                    </nz-breadcrumb>
                </div>
            </div> -->
            <router-outlet></router-outlet>
            test
        </nz-content>
    </nz-layout>
</nz-layout>