.bg-grey{

    background-color: #1e1e1e;
}

:host::ng-deep{
    .ant-layout-sider{
        flex: 0 0 250px !important;
        max-width: 250px !important;;
        min-width: 250px !important;;
        width: 250px !important;;
    }
}